*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body{
    font-family: 'inter';
}
/* HEADER AND NAVIGATION STYLING */
header{
    width: 100vw;
    height: 70px;
    background-color: 1px solid;
    padding: 1.8rem 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    display: flex;
    align-items: center;
    gap: 30px;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
   

}
nav li{
    padding: .9rem 2rem;
    
}
nav li a {
   color: black;
}
.sign-inUp{
    gap: 20px;
    width: 250px;
}
.sign-inUp button{
   width: 150px;
   background-color: white;
   height: 45px;
   border-radius: 50px;
   border: 1px solid #F53838;
   color: #F53838;
}
.sign-inUp button:hover{
   background-color: #F53838;
   color: white;
}
.sign-inUp a{
   width: 53px;
   padding: 10px;
   color: black;
}
/* MAIN ELEMENT STYLING */
main{
    padding: 30px 120px;
    width: 100vw;
}
/* HERO SECTION STYLING */
.hero{
display: flex;
justify-content: space-between;
}
.hero img{
    width: 611px;
    height: 330.22px;
}
.hero-left h1{
    width: 555px;
    height: 140px;
    font-size: 50px;
    line-height: 70px;
}
.hero-left {
    padding: 20px;
}
    .hero-left p {
       font-size: 16px;
       line-height: 30px;
       width: 555px;
       height: 60px;
 }
 .hero-left button{
    width: 250px;
    height: 55.29px;
    border-radius: 10px;
    margin: 40px 0;
    border: none;
    background-color: #F53838;
    color: white;
    box-shadow: 0 0 30px 0 #F53838 ;
    cursor: pointer;
    }

.hero-right{
    height: 382.44px;
    
}
/* THE USER LOCATION SERVER SECTION  */

.uls{
    display: flex;
    width: 1110px;
    padding: 30px 120px;
    justify-content: center;
    margin: 40px 0;
    gap: 90px;
}
.uls-box{
    width: 250px;
    height: 126px;
    display: flex;
    gap: 30px;
    align-items: center;
    border-right: 1px solid #EEEFF2;
    padding: 20px;
}
.uls-box p{
font-size: 20px;
line-height: 30px;
font-weight: bold;
}
.uls-box span{
    color: #4F5665;
    font-size: 15px;
    line-height: 30px;
}

/* WE PROVIDE MANY FEATURES SECTION  */
.weProvide{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weProvide-right h2{
    height:100px ;
    width:383.41px ;
    font-size: 35px;
    line-height: 50px ;
    padding:  0;
    margin:  0;
}
.weProvide-right p{
    margin: 20px 0;
    height:60px ;
    width:427.88px ;
    font-size: 16px;
    line-height: 30px ;
    color: #4F5665;
}
.weProvide-right ul li{
    list-style-image: url('./Assets/images/bx_bxs-check-circle.png');
    list-style-position: inside;
    font-size: 14px;
    line-height: 30px;
    margin: 10px 0;

}

/* CHOOOSE PLAN SECTION  */

.choosePlan{
    text-align: center;
}
.choosePlan > h3{
    font-size: 35px;
    line-height: 50px;
    padding: 20px;
}
.choosePlan p{
    font-size: 16px;
    line-height: 30px;
    height: 60px;
    margin: 20px;
}
.plans{
    display: flex;
    justify-content: space-between;
}
.planCard{
    width: 330px;
    height: 760px;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    text-align: center;
    padding: 40px 0;
}
.planCard:hover{
    border-color: #F53838;
}
/* .planCard ul{
    margin: 0 auto;
} */
.planCard ul li{
    line-height: 30px;
    padding: 10px;
    list-style-position: inside;
    list-style-image: url('./Assets/images/jam_check.png');
    margin: 0 60px;
    text-align: left;
   
  
}
.planCard h4{
    font-size: 18px;
    line-height: 30px;
 }
 .prices{
    font-size: 25px;
    line-height: 30px;
    ;
 }
 .freePlan .prices{
    margin-top: 170px;
 }
 .stanPlan .prices{
    margin-top: 110px;
 }
 .premPlan .prices{
    margin-top: 50px;
 }
 .prices button{
    width: 177.88px;
    height: 45px;
    margin: 20px;
    border-radius: 50px;
    border-color: #F53838;
    color: #F53838;
    background-color: white;
    font-size: 16px;
    font-weight: 700;
 }
 .prices button:hover{
    background-color: #F53838;
    color: white;
 }
 .prices span{
    color:#4F5665;
 }

 /* HUGE GLOBAL NETWORK OF FAST VPN SECTION */

 .hugeGlobeNet{
    text-align: center;
    margin: 30px 0;

 }
 .hugeGlobeNet h2{
    width: 381.45px;
    font-size: 35px;
    line-height: 50px;
    margin: 0 auto;
 }
 .hugeGlobeNet p{
    color: #4F5665;
    font-size: 16px;
    margin: 10px 0 30px 0;
 }
 .hugeGlobeNet p span{
    color: black;
    font-weight: 500;
 }

 .compLogos{
    display: flex;
    justify-content: space-between;
    align-items: center;

 }
 
 /* TRUSTED BY THOUSANDS OF HAPPY CUSTOMER SECTION */

 .trusted-Section h2{
    width: 447.81px;
    margin: 0 auto;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
 }
 .trusted-Section > p{
    width: 555px;
    margin: 0 auto;
    font-size: 1rem;
    line-height: 30px;
    text-align: center;
    height: 60px;
    color: #4F5665;
 }

 .card-holder{
    display: flex;
    justify-content: space-between;
 }
 .card{
    width: 420px;
    height:230px ;
    border: 1px solid #DDDDDD;
    margin: 20px;
    padding: 20px;
 }
 .card p{
    font-size: 16px;
    line-height: 30px;
 }
 .profile{
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
 }
 .profile h6{
    margin: 0 10px;
 }
 .profile > p{
    margin-left: 0px;
    position: absolute;
    right: 10px;
 }
 .name{
    padding: 5px;
 }
 .card:hover{
    border: 1px solid #F53838;
 }

 /* SUBSCRIBE NOW SECTION  */

 .sub-now{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1077px;
    height: 233px;
    padding: 40px;
    margin: 0 auto;
 }
 .sub-now-right button{
    width: 250px;
    height: 60px;
    color: white;
    background-color: #F53838;
    border: none;
    border-radius: 10px;
 }
 .sub-now-left{
    height: 116px;
    width: 410px;
 }
 .sub-now-left h3{
    color: #0B132A;
    font-size: 35px;
    line-height: 45px;
    width: 371.61px;

 }
 .sub-now-left p{
font-family: Rubik;
font-size: 16px;
font-weight: 400;
line-height: 30px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

    
 }
 /* FOOTER SECTION */
 footer{
    padding: 30px 120px;
    width: 100vw;
    height: 563.12px;
    background-color: #F8F8F8;
    display: flex;
    justify-content: space-between;
 }
 .footer-right{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    padding: 30px;
 }
 .footer-right li{
    font-size: 16px;
    line-height: 30px;
    color: black;
 }
 .footer-right li a{
    color: black;
 }
 .footer-left{
    padding: 30px;
 }
 .footer-left p{
    width: 340px;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

 }
 .product, .Engage, .earnMoney{
    height: 280px;
    
 }
 .socials{
    padding: 20px;
    text-align: left;
    margin-left: -30px;
    
 }
 /* END OF FOOTER SECTION */
.fa-bars{
    display: none;
}
nav ul.active{
    left: 0;
}
 
@media only screen and (max-width:768px) {
    .sign-inUp{
    
    }
    .fa-bars{
       
    }
    nav ul{
        
       
    }
    header{
      
        border: 1px solid;
      
        
    }
    nav ul a {
    
        font-size: 2rem;
    }
    .sign-inUp{
        border: 1px solid;
    
    }
    
}
@media screen and (max-width:600px) {
    header{
        display: flex;
        width: 100vw;
        justify-content: space-between;
        padding: 20px;
        
    }
   
  
    nav ul{
        position: fixed;
        top: 80px;
        height: calc(100vh - 80px);
        border: 1px solid #F53838;
        width: 100vw;
        display: flex;
        flex-direction: column;
        padding: 1rem 3.5rem;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(15px);
        left: -110vw;
        transition: 1s ease-in-out;

    }
    nav ul li {
        color: black;
    }
    .fa-bars{
        display: block;
    }
    .sign-inUp{
        display: none;
    }
    main{
        padding:1px ;
        width: 370px;
        margin: 0 auto;
      

    }


        .hero{
         display: flex;
         flex-direction: column;
         width: 360px;
         justify-content: space-between;
         padding: .8em;
         margin: 0 auto;
         }
         .hero img{
             width: 90vw;
             height: 300.22px;
         }
         .hero-left h1{
            width: 360px;
             padding: 10px;
             font-size: 2.3rem;
             line-height: 3rem;
             margin-bottom: 10px;
         }
         .hero-left {
             padding: 10px;
         }
             .hero-left p {
                font-size: 1.2rem;
                margin-top: 10px;
                margin-bottom: 20px;
                line-height: 30px;
                width: 350px;
                height: 70px;
                padding: 10px 0;
          }
          .hero-left button{
             width: 250px;
             height: 55.29px;
             border-radius: 10px;
             margin: 40px 0;
             border: none;
             background-color: #F53838;
             color: white;
             box-shadow: 0 0 30px 0 #F53838 ;
             cursor: pointer;
             }
         
         .hero-right{
             height: 382.44px;
             
         }

        .uls{
            display: flex;
            flex-direction: column;
            width: 360px;
            padding: 10px;
            justify-content: center;
            align-items: center;
            margin-top: 10px;

        }
        .uls-box{
            width: 90vw;
            height: 126px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-right: 1px solid #EEEFF2;
            ;
           
        }
        .uls-box p{
        font-size: 1.4rem;
        line-height: 30px;
        font-weight: bold;
        }
        .uls-box span{
            color: #4F5665;
            font-size: 15px;
            line-height: 30px;
        }

        /* WE PROVIDE MANY FEATURES SECTION  */
.weProvide{
    display: flex;
    flex-direction: column;
    width: 360px;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
}
.weProvide img{
    width: 90vw;
}

.weProvide-right h2{
    height:120px ;
    width:330px ;
    font-size: 2rem;
    line-height: 3rem ;
    padding: 20px 10px;
    margin-left: 10px;
    
    
}
.weProvide-right p{
    margin: 20px 10px;
    padding: 20px 10px;
    height:100px ;
    width:330px ;
    font-size: 1rem;
    line-height: 1.8rem ;
    color: #4F5665;
    
    margin: 20px 0;
}
.weProvide-right {
   margin: 0 auto;
}
.weProvide-right ul li{
    list-style-image: url('./Assets/images/bx_bxs-check-circle.png');
    list-style-position: inside;
    font-size: .8rem;
    line-height: 30px;
    width:370px ;
    padding: 0 20px;
    
    
    

}
/* CHOOOSE PLAN SECTION  */

.choosePlan{
    text-align: center;
    margin: 0 auto;
    width: 360px;
}
.choosePlan > h3{
    font-size: 35px;
    line-height: 2em;
    padding: 10px;
}
.choosePlan p{
    font-size: 1rem;
    line-height: 1.5em;
    height: 70px;
   
}
.plans{
    display: flex;
    flex-direction: column;
    margin: 20px  0;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}
.planCard{
    width: 330px;
    height: 760px;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    text-align: center;
    padding: 40px 0;
}
.planCard img{
    margin: 20px auto;
}
.planCard:hover{
    border-color: #F53838;
}
/* .planCard ul{
    margin: 0 auto;
} */
.planCard ul li{
    line-height: 30px;
    padding: 10px;
    list-style-position: inside;
    list-style-image: url('./Assets/images/jam_check.png');
    margin: 0 60px;
    text-align: left;
   
  
}
.planCard h4{
    font-size: 18px;
    line-height: 30px;
 }
 .prices{
    font-size: 25px;
    line-height: 30px;
    ;
 }
 .freePlan .prices{
    margin-top: 150px;
 }
 .stanPlan .prices{
    margin-top: 90px;
 }
 .premPlan .prices{
    margin-top: 40px;
 }
 .prices button{
    width: 177.88px;
    height: 45px;
    margin: 20px;
    border-radius: 50px;
    border-color: #F53838;
    color: #F53838;
    background-color: white;
    font-size: 16px;
    font-weight: 700;
 }
 .prices button:hover{
    background-color: #F53838;
    color: white;
 }
 .prices span{
    color:#4F5665;
 }

  /* HUGE GLOBAL NETWORK OF FAST VPN SECTION */

  .hugeGlobeNet{
    text-align: center;
    margin: 30px 0;
    width: 360px;

 }
 .hugeGlobeNet h2{
    width: 381.45px;
    font-size: 3rem;
    line-height: 3rem;
    margin: 0 auto;
 }
 .hugeGlobeNet p{
    color: #4F5665;
    font-size: 16px;
    margin: 10px 0 30px 0;
    padding: 10px;
 }
 .hugeGlobeNet p span{
    color: black;
    font-weight: 500;
 }
 .globe img{
   width: 400px;
   margin: 0 auto;
 }

 .compLogos{
   width:370px;
    flex-direction: column;
    display: flex;
    padding: 10px;
    

 }

 
 /* TRUSTED BY THOUSANDS OF HAPPY CUSTOMER SECTION */

 .trusted-Section h2{
   width: 360px;
    margin: 0 auto;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
 }
 .trusted-Section > p{
    width: 350px;
    margin: 0 auto;
    font-size: 1rem;
    line-height:1.4rem;
    text-align: center;
    height: 80px;
    color: #4F5665;
 }

 .card-holder{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    width: 360px;
 }
 .card{
    width: 370px;
    height:230px ;
    border: 1px solid #DDDDDD;
    padding: 20px;
 }
 .card p{
    font-size: 16px;
    line-height: 30px;
 }
 .profile{
    display: flex;
    align-items: center;
    padding: 10px;
 }

 .profile > p{
   border: none;
 }
 
 .card:hover{
    border: 1px solid #F53838;
 }


  /* SUBSCRIBE NOW SECTION  */

  .sub-now{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 370px;
    height: 233px;
    padding: 0 ;
 }
 .sub-now-right button{
    width: 200px;
    height: 50px;
    color: white;
    background-color: #F53838;
    border: none;
    border-radius: 10px;
 }
 .sub-now-left{
    height: 116px;
    width: 370px;
 }
 .sub-now-left h3{
    color: #0B132A;
    font-size: 1.8rem;
    line-height: 45px;
    width: 370px;
    text-align: center;
    margin: 0 auto;

 }
 .sub-now-left p{
font-family: Rubik;
font-size: .8rem;
font-weight: 400;
line-height: 30px;
text-align: left;
width: 370px;
text-align: center;
margin: 0 auto;
text-underline-position: from-font;
text-decoration-skip-ink: none;
    
 }
  /* FOOTER SECTION */
  footer{
   width: 370px;
    padding: 10px;
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    height: 1000px;
 }
 .footer-right{
    display:flex;
    flex-direction: column;
    width: 90vw;
    row-gap: 10px;
    padding: 10px;
    margin: 10px;
    

    
 }
 .footer-right li{
    font-size: .9rem;
    line-height: 20px;
    color: black;
 }
 .footer-right> li a{
    color: black;

 }
 .footer-left{
   width: 375px;
   padding: 10px;
   
 }
 .footer-left p{
    width: 365px;
    padding: 10px;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
 }


 .product, .Engage, .earnMoney{
    padding: 10px;
    height: 200px;
    width: 350px;
    gap: 10px;
   }
    
 
 .socials{
    padding: 20px;
    text-align: left;
    display: flex;
    width: 90vw;
 
    
 }
  }